.rounded-circle{
    margin-right:10px;
  }
  .btn-group{
   margin-right:5px;
  }
  .navbar{
    background: #607D8B;
  }
  .navbar-nav{
    background: #607D8B;
  }
  .main-sidebar{
  background:  #34515E;
  }
  .hold-transition{
    background-color: #DDDDDD;
  }
  .card-header{
    background:  #34515E;
    color: white;
  }
  .card-body{
    background-color: #DDDDDD;
  }
  .select2-search input { background-color:  #DDDDDD; }
  .card-footer{
    background:  #34515E;
  }
  .input-group-text{
    background: #34515E;
  }

  input[type=button]{
    width: 180px;
    height: 30px;
    background-color: #34515E;
    color: white;
    padding-left: auto;
    padding-right: auto;
    margin-left: 3px;
    text-align: center;
    font-size: 18px;
    border-style: solid;
    border-width: thin;
    border-color: black;
    border-radius: 3px;
  }
  .cuadrito{
    width: 350px;
  }
  .modal-header{
    background-color: #34515E;
  }
  .modal-footer{
    background-color: #34515E;
  }
  .dropdown-menu{
    background-color: #DDDDDD;
  }