
.body{
  font-family: verdana;
  background-color:#DDDDDD;
}
 .jumbotron{
   background-color: #34515E;
   
 }
 .cabeza{
  background-color: #34515E;
 }
 .navbar{
   background-color:#607D8B ;
 }
  .footer{
    background-color: #34515E; 
    color: #E1E2E1;
    padding: 15px;
    height: 40%;
    border:0px solid;
    width:99,8%;
  }
  .main1{
    display:flex;
    margin:0 auto;
  }
  a img:hover {
    color: #E1E2E1;
  }
  
.carrusel{
   background-color: #34515E;
}
/*.justify-content-center{
  background-color: #DDDDDD;
}*/
.col-md-10{
   background-color: #34515E;
}
.card-header{
  background-color: #34515E;
  color:white;
}  
.card-footer{
  background-color: #34515E;
}
.convocatoria{
  border: 3px solid;
  border-color:#607D8B;
  background-color:#DDDDDD;
}
.tooltip-inner{
  background-color:#DDDDDD;
  color:black;
}
.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
  border-top-color: #DDDDDD;
}
.dropdown-menu{
  background-color:  #DDDDDD;
}