.hoja {
    border: white 1px solid;
    font-size: 100%;
    margin-left: 9cm;
    margin-right: 8cm;
  }
.parrafo{
  font-family: serif;
}
 #tabla1 {
  border-collapse: collapse;
  width: 100%;
}

#tabla1 td, #tabla1 th {
  border: 1px solid black;
}



