

.login{
  background: white;
  border: 1px solid;
  border-color:rgb(32, 158, 207);
  width:99,8%;
  height:800px;
}
.navbar{
  background: #0000b3;
}
.contenido-medio{
  margin-top:30px;
}
/*.card-body {
  background: linear-gradient(to top left, #003399 0%, #00ccff 100%);
}*/

.d-flex{
   margin-top:30px;
}
.formulario{
  margin-top:30px;
}
  .card-header{
    background: #0000b3;
  }
  .input-group-text{
    background:#0000b3;
  }
  .btn {
    background: #0000b3;

  }
  
