

.login{
  background: white;
  border: 1px solid;
  border-color:lightblue;
  width:99,8%;
  height:800px;
}
.navbar{
  background: #0000b3;
}
.contenido-medio{
  margin-top:30px;
}

.d-flex{
   margin-top:30px;
}
.formulario{
  margin-top:30px;


